@import "../../Style/mixin.scss";

.snippet {
    margin: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    background: var(--light-color);
    box-shadow: var(--box-shadow);


.title,
.description,
.code {
    margin-bottom: 1rem;
}

.code {
    padding: 0.5rem;
    border-radius: 5px;
    font-family: monospace;   
    font-size: 1.3rem; 
    background: var(--dark-color);
    max-width: 1000px;
    //word-wrap: break-word; /* Ensures long strings break */
    overflow-x: auto; /* Allows horizontal scrolling for long lines */
    //white-space: pre-wrap; /* Preserves formatting but allows wrapping - break the line*/
}

.btn-delete,
.btn-edit {
    // Button styling
    @include btn();
    margin-right: 1rem;
}

.btn-delete {
   
    background: #d39494;
}

}