@import "../../Style/mixin.scss";

.snippet {

    margin-top: 1rem;
    margin-bottom: 1rem;

    @include card();


 
.title,
.description,
.code {
    margin-bottom: 1rem;
}

.code {
    padding: 0.5rem;
    border-radius: 5px;
    font-family: monospace;   
    font-size: 1.3rem; 
    background: var(--dark-color);
    max-width: 1000px;
    //word-wrap: break-word; /* Ensures long strings break */
    overflow-x: auto; /* Allows horizontal scrolling for long lines */
    //white-space: pre-wrap; /* Preserves formatting but allows wrapping - break the line*/
}

.btn-delete,
.btn-edit {
    // Button styling
    @include btn();
    margin-right: 1rem;
}

.btn-delete {
   
    background: var(--button-delete-color);
}

}