@import "./mixin.scss";

.form {
    @include card();

    label,
    input,
    textarea {
        display: block;

    }


    label {
        margin-bottom: 0.5rem;
        font-size: 1.3rem;
        font-weight: bold;
    }

    input, 
    textarea {
        width: 100%;
        margin-bottom: 1rem;
        padding: 0.5rem;
        background: var(--textarea-background-color);
        border-radius: 5px;

    }

    textarea {
        resize: none;
        height: 300px;

    }
 
}