:root {
    --primary-color: #b2c4b4;
    --light-color: #ffffff;
    --text-dark-color: #3f3c3a;
    --textarea-background-color: #c9d5ca;
    // 0 - left or right, 10px - down, 20px - corner radius, color+opacity, 
    --box-shadow: 0 10px 20px rgba(0 ,0 ,0, 0.15), 0 6px 6px rgba(0 ,0 ,0, 0.23);
    --dark-color: #d1d1d1;
    --text-link-color: #4e6dba;
    --button-delete-color: #d39494;
    --button-submit-color: #24ae74;
}